.details{
  margin: 0 0 ms(4) 0;

  &__image {
    width: span(12);
    padding: 0 0 ms(1) 0;

  }

  &__list {
    margin: 0;

    .title, .description {
      margin: 0;
    }

    .title {

    }

    .description {
      padding: ms(-4) 0 ms(1) 0;

      &:last-child {
        padding: ms(-4) 0 0 0;
      }
    }
  }
}

@include susy-breakpoint($mobile-l) {

}
@include susy-breakpoint($tablet) {
  .details {
    overflow: hidden;

    &__image {
      @include span(4 of 10);
    }

    &__list {
      @include span(6 of 10 last);

      .title, .description {
      }

      .title {
      }

      //.description {
      //  max-width: 60ch;
      //
      //  &:last-child{
      //    padding: ms(-4) 0 ms(1) 0;
      //  }
      //}
    }
  }
}
