.details{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__image {
    margin: 0 gutter();

  }

  &__list {
    margin: 0;

    .title, .description {
      margin: 0;
      padding: 0.3rem;
    }

    .title {
      font-weight: bold;

    }

    .description {
      max-width: 60ch;
    }
  }
}
