.list {
  width: span(10 of 10);
  margin: 0 0 ms(4) 0;

  //filter types

  &__filters {
    @include container;
  }

  &__period-filters {
    @include span(9 of 12 first);
    text-align: left;
  }

  &__sort-filters {
    @include span(3 of 12 last);
    text-align: right;
  }

  //filter buttons

  &__filter {
    padding: 0 0 ms(1) 0;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;

    &:hover {

      span {
        text-decoration: underline;
      }
    }
  }

  //list items

  &__items {
    @include container;
  }

  &-item {
    @include span(12 of 12);
    background-color: $tableRowBackground;
    display: flex;
    padding: ms(-1);
    margin: ms(-5);


    &__image {
      @include span(1 of 4 first);
      width: 64px;
      height: 64px;
    }

    &__text-container {
      @include span(3 of 4);
      white-space: nowrap;
      padding: 0 ms(2) 0 0;
    }

    &__name {
      color: $basicFont;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@include susy-breakpoint($tablet) {

  .list {

    //list items

    &-item {
      @include gallery(6 of 12);
    }
  }
}


@include susy-breakpoint($small-destop) {

  .list {

    //list items

    &-item {

      @include gallery(4 of 12);
    }
  }
}



