.list {
  overflow: hidden;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0.2rem;
    font: inherit;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__filters {
    margin: 0 0 $unitOne 0;
  }

  &__items {
    overflow: hidden;
  }

  &-item {
    @include gallery(3 of 12);
    background-color: $tableRowBackground;
    display: flex;
    margin: 0 0 gutter() 0;


    &__image {
      display: inline-block;
    }

    &__text-container {
      display: inline-block;
      width: span(12);
      padding: gutter() * 2;
    }

    &__name {
      color: $basicFont;
      margin: 0;
    }
  }
}
