.list {
  overflow: hidden;

  //filter buttons

  &__filter {
    margin: 0 0 ms(2) 0;
    font-size: ms(2);
    background: none;
    color: inherit;
    border: none;
    padding: 0.2rem;
    cursor: pointer;

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }

  //list items

  &__items {

  }

  &-item {
    @include gallery(4 of 12);
    background-color: $tableRowBackground;
    margin: 0 0 gutter() 0;
    display: flex;



    &__image {
      display: inline-block;
      width: 64px;
      height: 64px;
      margin: gutter()
    }

    &__text-container {
      padding: gutter();
      width: span(12);
      white-space: nowrap;

    }

    &__name {
      color: $basicFont;
      width: span(9);
      margin: 0;
      font-weight: normal;
      font-size: ms(2);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;


    }

    &__name-bold {
      font-weight: bolder;
      font-size: ms(2);

    }

    &__name-light {
      font-weight: normal;
      font-style: italic;
    }

  }
}
