.page {

  &__logo {
    padding: gutter() 0;
    width: span(12);
    height: auto;
    background-color: $logoBackground;

    &__text {
      width: span(6);
      margin: 0 span(3);
      display: block;
      font-size: ms(3);
      text-align: center;
      color: $logoText;
    }
  }

  &__main-container {
    margin: 0 gutter();

    &__title {
      padding: gutter() 0;
      width: span(12);
      height: auto;

      &__text {
        width: span(12);
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: ms(2);
        text-align: center;

      }
    }
  }
}
