.page {
  overflow: hidden;
  @include container();

  &__nav {
    padding: gutter() 0;
    width: span(12);
    height: auto;
    background-color: $logoBackground;

    .nav-items {
      display: block;
      font-size: ms(4);
      font-weight: bold;
      text-align: center;
      color: $logoText;

      .nav-item__logo {
        width: ms(4);
        height: ms(3);
        fill: $logoText;
      }
    }
  }

  &__container {
    width: span(10);
    margin: 0 span(1) + gutter();
  }
}
