.list-row {
  position: relative;

  &__text-container {
    position: absolute;
    top: 0;

    &__track {
    }

    &__artist {

      font-weight: bold;
    }

    &__album {
      font-size: ms(1);
    }
  }
}
