.homePage {
  .input-container {
    width: span(6);
    margin: 0 span(3);

    &__input {
      width: span(6);
      margin: 0 span(3);
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align:center;
    }

    &__submit {
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;

    }
  }
}
