  .form {

    &__input {
      width: 164px;
      display: block;
      margin: 0 auto ms(2) auto;
      padding: ms(1) 0 ms(1) 0;
      border: none;
      border-radius: 4px;
      text-align:center;
    }

    &__button {
      width: auto;
      display: block;
      margin: 0 auto;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #4cae4c;
      color: $basicFont;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      transition-duration: 0.4s;
      cursor: pointer;

      &:hover {
        background-color: #5cb85c;

      }

      &:disabled {
        border: 1px solid $basicFont;

        &:hover {
          background-color: transparent;
        }

      }

    }
  }

