html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $basicFont;
}


.link {
  text-decoration: none;
  color: $basicFontColor;

  &:hover {
    border-bottom: 1px solid $basicFont;
  }
}


