//susy global settings

$susy: (
  columns: 12,
  gutters: 1/4,
  global-box-sizing: border-box,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  )
);

//modular scale global settings

$ms-base: 0.4em;
$ms-ratio: $golden;


