html {
  font-size: 100%;
}

h5 {
  font-size: ms(0);
  font-weight: bold;
}
h4 {
  font-size: ms(1);
}

h3 {
  font-size: ms(2);
}

h2 {
  font-size: ms(3);
}

h1 {
  font-size: ms(4);
}

small {
  font-size: ms(-1);
}
